*{
    box-sizing: border-box;
}
.logIn{
    text-align: end;
}
.mySlides{
    display: none;
}

.container{
    height:200px;
    margin-left: 5%;
    margin-right: 5%;
    /* display: ; */
    /* z-index: -1; */
}
.logIn{
    right: 0px;
    top :0;
    
}
#logo{
    text-align: center;
}
#logoBar{
    padding-top: 10px;
    padding-bottom: 20px;
}
.logInItems{
    outline: none;
    background-color: white;
    border: none;
}
.btn_menu{
    background-color: white;
    border: none;
    outline: none;
}
.btn_menu:hover{
    border-bottom: solid;
    /* background-color: black;
    color: white; */
}
#menu{

}
#menuItems .silderItems{
    display: none;
    width: 50%;
}
#btn_left{
    text-align: center;
}
#showList{
    width: 70%;
} 
.sliderShow{
    position: relative;
    margin-top: 0px;
}
.main{
    margin-top: 10px;
}
.filter{

}
#showList{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}
#showList .productItem
{
    width: 30%;
    margin-left: 2em;

}
#showList .productItem .productTit{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.productImg0 {
    display: flex;
    justify-content: center;
}
.productImg1 {
    display: flex;
    justify-content: center;
}
#showList .productItem .productTit:hover{
    white-space: normal;
}
#showList .productItem .productImg{

}
#showList .productItem .productImg0 img{
    width: 100%;
}
.productsImg:hover .productImg0{
    /* display: none; */
    visibility: hidden;
    
}
.productItem .productImg1 img{
    width: 100%;
}
.productsImg:hover .productImg1{
    z-index: 99;
}
#search{
    position: absolute;
    right: 0;
}
#conner{
    position: absolute;
    right: 0;
    color: white;
    background-color: black;
    z-index: 1;
}
.brand{
    padding-bottom: 10px;
}