.wrap{
	max-width: 1920px;
	margin:  0 auto;
}
header{
	padding: 10px 0;
}
.logo{
	color: #e8663c;
	font-size: 40px;
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}
.logo span{
	/* color: #00abff; */
	color: gray;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-menu{
	display: flex;
	justify-content: flex-end;
}
.main-menu li{
	position: relative;
}
.main-menu li a{
	display: inline-block;
	padding: 7px 20px;
	font-size: 16px;
	font-weight: bold;
	/* color: #c3c3c3; */
	color: #e8663c;
}
.main-menu li a:hover{
	color: #f93;
	text-decoration: none;
}
.sub-menu{
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	background: rgba(0, 0, 0, .6);
	z-index: 99999;
	transform: scaleY(0);
	transform-origin: 0 0;

	transition: all .5s;	
}
.main-menu li:hover > .sub-menu {
	transform: scaleY(1);
}
.banner > img{
	object-fit: cover;
	width: 100%;
	height: 400px;
	background-position: center center;
	background-repeat: no-repeat;
}
.banner-item{
	position: relative;
}
.banner-item img{
	width: 100%;
}
.banner-item-title h1{
	position: absolute;
	font-size: 50px; 
	font-family: 'Arial';
	font-weight: bold;
	color: #fff;
	bottom: 250px;
}
.banner-item-caption{
	position: absolute;
	border-radius: 5px;
	bottom: 100px;
	width: 100%;
	height: 150px;
	padding: 20px;
	color: #fff;
	background: rgba(0, 0, 0, .6);
}



.feature-posts{
	padding: 50px 0;
}
.post-item{
	margin-bottom: 30px;
}
.post-item-imgs img{
	width: 100%;
}
.post-item-title{
	color: #e8663c;
	padding: 20px 0;
}
.post-item-title h3{
	text-transform: uppercase;
	font-size: 22px;
}
.read-more{
	display: inline-block;
	padding: 10px 20px;
	background: #e8663c;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}
.read-more:hover{
	text-decoration: none;
	color: #fff;
}
.section-title{
	background: url('../img/bg-line.png') no-repeat;
	background-size: auto 100%;
	padding: 0;
	margin-bottom: 20px;
}
.section-title h2{
    background: #fff;
    font-size: 22px;
    display: inline-block;
    padding: 2px 30px 2px 0px;
    margin: 0;
    color: #e8663c;
}
.recent-item{
	border:  1px solid #ccc;
	margin-bottom: 30px;
}
.recent-item img{
	width: 100%;
}
.recent-item h3{
	padding: 10px 10px 0;
	margin-bottom: 5px;
	font-size: 22px;
	color: #8a8a8a;
}
.recent-item p{
	padding: 7px 10px;
	color: #e8663c;
	font-weight: bold;
}


footer{
	color: #fff;
	background: #e68d70;
}
.bg-white{
	background: #fff;
}
.footer-bg{
	background: #e8663c;
	padding: 30px 50px;
}